/*
 * WPGear. Decimal Product Quantity for WooCommerce
 * style.css
 */
.wdpq_tax_about, .wdpq_total_about {
	font-size: small;
	cursor: help;
	color: darkgrey;
	padding-left: 5px;
}

.cart .quantity {
	float: left;
	display: flex;
}
.wpdq_buttons_step {
	width: 40px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-bottom: 0 !important;
	float: left !important;
}
.wpdq_input_step_mode {
	float: left;
	height: auto !important;
	text-align: center;
	margin: 0 !important;
	
	-webkit-appearance: none;
	
	appearance: none;
	-moz-appearance: textfield;	
}

.wpdq_cart_buttons_step {
	width: 40px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	vertical-align: top;	
}
.wpdq_cart_input_step_mode {
	text-align: center;
	
	-webkit-appearance: none;
	
	appearance: none;
	-moz-appearance: textfield;	
}
.quantity input[type='text'] {
	text-align: center;
	border: none;
}